<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Worn By Jake</title>
    <link rel="stylesheet" href="../public/css/style.css" type="text/css" />
</head>
<body>
    {{{ body }}}
</body>
</html>