<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Information -->
    <meta charset="UTF-8">

    <!-- Title Information -->
    <title>WornByJake | The online marketplace for clothes, apparel and gear for all</title>

    <!--Bootstrap CDN -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- External Stylesheet/Our styles-->
    <link rel="stylesheet" href="/css/style.css" type="text/css" />

    <!-- Font links -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Jquery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- JS/Bootstrap CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <!--spanning gray color bar across top-->
        <nav class="navbar navbar-default">
            <!--making buffer to hold "container"-->
            <div class="container">
                <!--holding only the logo-->
                <div class="navbar">
                    <!--Logo Image-->
                    <a href="/"><img src="/images/Wornbyjake_Logo_White-webmain.png" class="logo" alt="WornByJake Logo" /></a>
                    <!--Search Bar Section-->
                    <form class="navbar-form text-center navbar-search" role="search">
                        <div class="input-group">
                            <!--Begin Entire Dropdown Box in Search Area-->
                            <div class="input-group-btn">
                                <!--Dropdown Button-->
                                <button type="button" class="btn btn-search btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="label-icon">ALL</span>
                    <span class="caret"></span>
                </button>
                                <!--End Dropdown Button-->
                                <!--Begin Dropdown List-->
                                <ul class="dropdown-menu pull-left" role="menu">
                                    <li>
                                        <a href="/men">
                                            <span class="glyphicon glyphicon-user"></span>
                                            <span class="label-icon">Men's Wear</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/women">
                                            <span class="glyphicon glyphicon-book"></span>
                                            <span class="label-icon">Women's Wear</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/children">
                                            <span class="glyphicon glyphicon-book"></span>
                                            <span class="label-icon">Children's Wear</span>
                                        </a>
                                    </li>
                                </ul>
                                <!-- End Drop Down List-->
                            </div>
                            <!--End Entire Dropdown Box Section-->
                            <!--Text Box Section-->
                            <input type="text" class="form-control" placeholder="Search for...">
                            <!--End Text Box Section-->
                            <!--Begin Glyphcon Eyeglass-->
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-search btn-default">
                                <span class="glyphicon glyphicon-search"></span>
                                <!--End Glyphcon Eyeglass-->
                                </button>
                            </div>
                            <!-- End class="input-group-btn" -->
                        </div>
                    </form>
                    <!--End Search Bar Section-->
                    <div class="header-text">
                        <ul class="header">
                            <li><a href="/login">LOGIN IN OR JOIN</a></li>
                            <li> | </li>
                            <li><a href="/cart">CART<i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Nav Bar-->
            </div>
            <!-- End Container -->
        </nav>
    </header>

    <div class="container">
        <h4>Men's Wear</h4>
        <div class="row">

            <!-- BEGIN PRODUCTS -->
            <div class="col-md-3 col-sm-6">
                <span class="thumbnail">
                <img src="http://i.ebayimg.com/images/g/yl0AAOxy5rpSSnlc/s-l1600.jpg" alt="...">
                <h4>2 GUNS FUNNY HIPSTER GRAPHIC T-SHIRT</h4>
                <div class="ratings">
                    <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
            </div>
            <p>New Men's Printed "Men with 2 Guns".</p>
            <hr class="line">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <p class="price">$19.99</p>
                </div>
                <div class="col-md-6 col-sm-6">
                    <a href="/menshirt1"><button class="btn btn-info right"> BUY ITEM</button></a>
                </div>

            </div>
            </span>
        </div>
        <div class="col-md-3 col-sm-6">
            <span class="thumbnail">
                <img src="http://i.ebayimg.com/images/g/Eg8AAOxydyxSSnld/s-l1600.jpg" alt="...">
                <h4>2 GUNS FUNNY HIPSTER GRAPHIC T-SHIRT</h4>
                <div class="ratings">
                    <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
        </div>
        <p>New Men's Printed "Men with 2 Guns".</p>
        <hr class="line">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <p class="price">$19.99</p>
            </div>
            <div class="col-md-6 col-sm-6">
                <button class="btn btn-info right"> BUY ITEM</button>
            </div>

        </div>
        </span>
    </div>
    <div class="col-md-3 col-sm-6">
        <span class="thumbnail">
                <img src="http://i.ebayimg.com/images/g/OokAAOxyAc1SSnlf/s-l1600.jpg" alt="...">
                <h4>2 GUNS FUNNY HIPSTER GRAPHIC T-SHIRT</h4>
                <div class="ratings">
                    <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
    </div>
    <p>New Men's Printed "Men with 2 Guns". </p>
    <hr class="line">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <p class="price">$19.99</p>
        </div>
        <div class="col-md-6 col-sm-6">
            <button class="btn btn-info right"> BUY ITEM</button>
        </div>

    </div>
    </span>
    </div>
    <div class="col-md-3 col-sm-6">
        <span class="thumbnail">
                <img src="http://i.ebayimg.com/images/g/FuYAAOSw1DtXHzE1/s-l1600.jpg" alt="...">
                <h4>Tattooed & Employed</h4>
                <div class="ratings">
                    <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
    </div>
    <p>Funny Tattoo T Shirt Tattooed and Employed Hipster Mens Sizes Free Shipping</p>
    <hr class="line">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <p class="price">$21.99</p>
        </div>
        <div class="col-md-6 col-sm-6">
            <button class="btn btn-info right"> BUY ITEM</button>
        </div>

    </div>
    </span>
    </div>

    <div class="col-md-3 col-sm-6">
        <span class="thumbnail">
                <img src="http://i.ebayimg.com/images/g/KHMAAOSw6EhURqHh/s-l500.jpg" alt="...">
                <h4>Panda Paintball Hipster Shirt</h4>
                <div class="ratings">
                    <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
    </div>
    <p>Panda paitball hipster shirt - sweet!</p>
    <hr class="line">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <p class="price">$29.90</p>
        </div>
        <div class="col-md-6 col-sm-6">
            <button class="btn btn-info right"> BUY ITEM</button>
        </div>

    </div>
    </span>
    </div>
    

    <!-- END PRODUCTS -->
    </div>
    </div>




    <footer>
        <div class="container">
            <a href="/addproduct" class="footer-links">ADD A PRODUCT</a><br>
            <a href="/login" class="footer-links">MY ACCOUNT</a><br>
            <a href="#" class="footer-links">WISH LIST</a><br>
            <a href="#" class="footer-links">CONTACT US</a><br><br>
            <p>© 2017 WornByJake, LLC. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>