<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Information -->
    <meta charset="UTF-8">

    <!-- Title Information -->
    <title>WornByJake | The online marketplace for clothes, apparel and gear for all</title>

    <!--Bootstrap CDN -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- External Stylesheet/Our styles-->
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/productpage.css" type="text/css" />

    <!-- Font links -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&subset=latin-ext,vietnamese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=latin-ext,vietnamese" rel="stylesheet">

    <!-- Viewport -->   
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Jquery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- JS/Bootstrap CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <!--spanning gray color bar across top-->
        <nav class="navbar navbar-default">
            <!--making buffer to hold "container"-->
            <div class="container">
                <!--holding only the logo-->
                <div class="navbar">
                    <!--Logo Image-->
                    <a href="/"><img src="/images/Wornbyjake_Logo_White-webmain.png" class="logo" alt="WornByJake Logo" /></a>
                    <!--Search Bar Section-->
                    <form class="navbar-form text-center navbar-search" role="search">
                        <div class="input-group">
                            <!--Begin Entire Dropdown Box in Search Area-->
                            <div class="input-group-btn">
                                <!--Dropdown Button-->
                                <button type="button" class="btn btn-search btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="label-icon">ALL</span>
                                    <span class="caret"></span>
                                </button>
                                <!--End Dropdown Button-->
                                <!--Begin Dropdown List-->
                                <ul class="dropdown-menu pull-left" role="menu">
                                    <li>
                                        <a href="/men">
                                            <span class="glyphicon glyphicon-user"></span>
                                            <span class="label-icon">Men's Wear</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/women">
                                            <span class="glyphicon glyphicon-book"></span>
                                            <span class="label-icon">Women's Wear</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/children">
                                            <span class="glyphicon glyphicon-book"></span>
                                            <span class="label-icon">Children's Wear</span>
                                        </a>
                                    </li>
                                </ul>
                                <!-- End Drop Down List-->
                            </div>
                            <!--End Entire Dropdown Box Section-->
                            <!--Text Box Section-->
                            <input type="text" class="form-control" placeholder="Search for...">
                            <!--End Text Box Section-->
                            <!--Begin Glyphcon Eyeglass-->
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-search btn-default">
                                <span class="glyphicon glyphicon-search"></span>
                                <!--End Glyphcon Eyeglass-->
                                </button>
                            </div>
                            <<!-- End class="input-group-btn" -->
                        </div>
                    </form>
                    <!--End Search Bar Section-->
                    <div class="header-text">
                        <ul class="header">
                            <li><a href="/login">LOGIN IN OR JOIN</a></li>
                            <li> | </li>
                            <li><a href="/cart">CART<i class="fa fa-shopping-bag" aria-hidden="true"></a></i></li>
                        </ul>
                    </div>
                </div>
                <!-- End Nav Bar-->
            </div>
            <!-- End Container -->
    </header>

<div class="container-fluid">
    <div class="content-wrapper">	
		<div class="item-container">	
			<div class="container">	
				<div class="col-md-12">
					<div class="product col-md-3 service-image-left">
                    
						<center>
							<img id="item-display" src="http://i.ebayimg.com/images/g/yl0AAOxy5rpSSnlc/s-l1600.jpg" alt=""></img>
						</center>
					</div>
					
					<div class="container service1-items col-sm-2 col-md-2 pull-left">
						<center>
							<a id="item-1" class="service1-item">
								<img src="http://i.ebayimg.com/images/g/Eg8AAOxydyxSSnld/s-l1600.jpg" alt=""></img>
							</a>
							<a id="item-2" class="service1-item">
								<img src="http://i.ebayimg.com/images/g/OokAAOxyAc1SSnlf/s-l1600.jpg" alt=""></img>
							</a>
							<a id="item-3" class="service1-item">
								<img src="http://i.ebayimg.com/images/g/OpIAAOxyAc1SSnlh/s-l1600.jpg" alt=""></img>
							</a>
						</center>
					</div>
				
					
				<div class="col-md-7">
					<div class="product-title">Men's Printed "Men with 2 Guns"</div>
					<div class="product-desc">New Men's Printed "Men with 2 Guns" - PRINTED FRONT - BLACK, WHITE, ROYAL BLUE,  NAVY BLUE, BROWN</div>
					<div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> </div>
					<hr>
					<div class="product-price">$19.99</div>
					<div class="product-stock">In Stock</div>
					<hr>
					<div class="btn-group cart">
						<button type="button" class="btn btn-success">
							Add to cart 
						</button>
					</div>
					<div class="btn-group wishlist">
						<button type="button" class="btn btn-danger">
							Add to wishlist 
						</button>
					</div>
				</div>
				</div>
			</div> 
		</div>
		<div class="container-fluid">		
			<div class="col-md-12 product-info">
					<ul id="myTab" class="nav nav-tabs nav_tabs">
						
						<li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>
						
						
					</ul>
				<div id="myTabContent" class="tab-content">
						<div class="tab-pane fade in active" id="service-one">
						 
							<section class="container product-info">
								<p>Size: S, M, L, XL, 2XL, 3XL, 4XL, 5XL

· Color: Black, Navy Blue, Brown, White, Royal Blue

· 100% Cotton

· Short Sleeve

· Crew Neck

· Size Measurements :

Small ( 34" Chest x 27" Length ) 

Medium ( 38" Chest x 29" Length )

Large ( 41" Chest x 30" Length )

X-Large ( 45" Chest x 31" Length )

XX-Large ( 51" Chest x 32" Length )

</p>


							</section>
										  
						</div>
					
				<hr>
			</div>
		</div>
	</div>
</div>
</div>

<footer>
        <div class="container">
        <a href="/addproduct" class="footer-links">ADD A PRODUCT</a><br>
        <a href="#" class="footer-links">MY ACCOUNT</a><br>
        <a href="#" class="footer-links">WISH LIST</a><br>
        <a href="#" class="footer-links">CONTACT US</a><br><br>
        <p>© 2017 WornByJake, LLC. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>