<!DOCTYPE html>
<html lang="en">

<head>
    <!--Meta Information-->
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">

    <!--Title Information-->
    <title>WornByJake | The online marketplace for clothes, apparel and gear for all</title>

    <!--Bootstrap Styles-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!--jQuery Link-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!--Bootstrap JavaScript Link-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!--Our Styles-->
    <link rel="stylesheet" href="../public/css/style.css" type="text/css" />

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <header>
        <!--spanning gray color bar across top-->
        <nav class="navbar navbar-default">
            <!--making buffer to hold "container"-->
            <div class="container">
                <!--holding only the logo-->
                <div class="navbar">
                    <!--Logo Image-->
                    <img src="../public/images/Wornbyjake_Logo_White-webmain.png" class="logo" alt="WornByJake Logo" />
                    <!--Search Bar Section-->
                    <form class="navbar-form text-center navbar-search" role="search">
                        <div class="input-group">
                            <!--Begin Entire Dropdown Box in Search Area-->
                            <div class="input-group-btn">
                                <!--Dropdown Button-->
                                <button type="button" class="btn btn-search btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="label-icon">ALL</span>
                                    <span class="caret"></span>
                                </button>
                                <!--End Dropdown Button-->
                                <!--Begin Dropdown List-->
                                <ul class="dropdown-menu pull-left" role="menu">
                                    <li>
                                        <a href="#">
                                            <span class="glyphicon glyphicon-user"></span>
                                            <span class="label-icon">Search By User</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="glyphicon glyphicon-book"></span>
                                            <span class="label-icon">Search By Organization</span>
                                        </a>
                                    </li>
                                </ul>
                                <!-- End Drop Down List-->
                            </div>
                            <!--End Entire Dropdown Box Section-->
                            <!--Text Box Section-->
                            <input type="text" class="form-control" placeholder="Search for...">
                            <!--End Text Box Section-->
                            <!--Begin Glyphcon Eyeglass-->
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-search btn-default">
                                <span class="glyphicon glyphicon-search"></span>
                                <!--End Glyphcon Eyeglass-->
                                </button>
                            </div>
                            <<!-- End class="input-group-btn" -->
                        </div>
                    </form>
                    <!--End Search Bar Section-->
                    <div class="header-text">
                        <ul class="header">
                            <li><a href="#">JOIN</a></li>
                            <li><a href="#">LOGIN</a></li>
                            <li>testing<i class="fa fa-shopping-bag" aria-hidden="true"></i></li>
                        </ul>
                    </div>
                </div>
                <!-- End Nav Bar-->
            </div>
            <!-- End Container -->
    </header>

</body>

</html>