/************************************
HEADER SECTION
************************************/

.navbar {
    background-color: #303538;
    min-height: 60px;
    margin-bottom: 0px;
    width: 100%;
    border: none;
    border-radius: 0 !important;
  	-moz-border-radius: 0 !important;
}

.navbar-default {
	width: 100%;
	margin: 0px;
	border: none;
	border-radius: 0 !important;
  	-moz-border-radius: 0 !important;
}

.navbar-form .input-group>.form-control {
    width: 250px;
    margin-top: 4px;
}

.logo {
    float: left;
    padding-top: 27px;
}

.navbar-form {
    background-color: transparent;
    padding: 22px 0px 0px 200px;
    display: inline-block;
}

.form-control {
    background-color: transparent;
    color: #fff;
    font-size: 8pt;
    padding: 8.5px;
    border-right: 0px;
    border-left: 0px;
}

.btn-search {
    border-radius: 0;
    background-color: transparent;
    color: #fff;
    border-left: 0px;
}

.dropdown-toggle {
    border-radius: 0;
    background-color: #fff;
    color: darkslategray;
    font-size: 8pt;
    padding: 8.5px;
}

.header-text {
    display: inline-block;
    padding: 0px 0px 0px 90px;
}

ul {
    font-size: .8em;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/************************************
LINKS
************************************/

li {
    display: inline;
    width: 100px;
    padding: 0 10px;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
    color: #7ebbff;
}

a:hover {
    text-decoration: underline;
    color: #7ebbff;
}

.a-signup {
	text-decoration: none;
    color: #d69b5e;
}

/************************************
BODY SECTION
************************************/

body{
	background-color: #f9f9f9;
}

footer {
	background-color: #303538;
	min-height: 100px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	padding: 15px;
	color: #ffffff;

}

.footer-links {
	color: #d69b5e;
}

.card {

	background: #ffffff;
	margin-top: 20px;
	box-shadow: 3px 3px 15px #aaaaaa;
	text-align: center;

}

.popular-cat {
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	padding: 10px;
}

.welcome-center {
	text-align: center;
	font-family: 'Great Vibes', cursive;
	font-size: 72px;
	color: #d69b5e;
	padding-top: 10px;
}

.sign-in-center {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 25px;

}

.button1 {
	padding: 15px;
	margin-bottom: 25px;
	border: 1px solid #d69b5e;
	background-color: #ffffff;
	color: #d69b5e;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

.sign-in-button {
	color: #d69b5e;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

.card-bottom {
	background-color: #303538;
	height: 50px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.left1 {
	float: left;
}

.new-wbj {
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
}

.left2 {
	float: right;

}

.start-here {
	color: #d69b5e;
	font-family: 'Open Sans', sans-serif;
}

.right1 {
	float: left;
}

.shop-all {
	font-family: 'Open Sans', sans-serif;
	color: #259b81;
}

.cat-text-men1 {
	color: #259b81;
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	font-size: 18px;
	padding-top: 15px;
}

.cat-text-men {
	color: #259b81;
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	font-size: 18px;
	padding-top: 15px;

}

.cat-text-men1 {
	color: #259b81;
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	font-size: 18px;
	padding-top: 15px;
	margin-left: -45px;

}

.cat-text-women {
	color: #e78897;
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	font-size: 18px;
	padding-top: 15px;
}

.cat-text-women1 {
	color: #e78897;
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	font-size: 18px;
	padding-top: 15px;
	margin-left: -45px;
}

.cat-text-child {
	color: #d69b5e;
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	font-size: 18px;
	padding-top: 15px;
}

.cat-text-child1 {
	color: #d69b5e;
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	font-size: 18px;
	padding-top: 15px;
	margin-left: -45px;
}

.cat1 {
	box-shadow: 6px 6px 2px #259b81;
	float: right;
	margin-bottom: 15px;
}

.cat2 {
	box-shadow: 6px 6px 2px #259b81;
	float: left;
	margin-bottom: 15px;
}

.cat3 {
	box-shadow: 6px 6px 2px #e78897;
	float: right;
	margin-bottom: 15px;
}

.cat4 {
	box-shadow: 6px 6px 2px #e78897;
	float: left;
	margin-bottom: 15px;
}

.cat5 {
	box-shadow: 6px 6px 2px #d69b5e;
	float: right;
	margin-bottom: 15px;
}

.cat6 {
	box-shadow: 6px 6px 2px #d69b5e;
	float: left;
	margin-bottom: 15px;
}

#myCarousel {
	width: 100%;
}

.menswear {
	width: 100%;
}

.menswear-row {
	padding-top: 15px;
}

.menswear-home-text {
	color: #259b81;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 24px;
	padding-top: 15px;
}

.man1 {
	width: 30%;
	padding-left: 20px;
}

.button2 {
	padding: 15px;
	margin-top: 35px;
	border: 1px solid #d69b5e;
	background-color: #ffffff;
	color: #d69b5e;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

.view-all-men {
	color: #d69b5e;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	padding-top: 15px;
}

.womenswear {
	width: 100%;
}

.womenwear-row {
	padding-top: 0px;
	float: right;
}

.womenwear-home-text {
	color: #e78897;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 24px;
	padding-top: 15px;
}

.women1 {
	width: 30%;
	padding-left: 20px;
}

.button3 {
	padding: 15px;
	margin-top: 35px;
	border: 1px solid #e78897;
	background-color: #ffffff;
	color: #e78897;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

.view-all-women {
	color: #e78897;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	padding-top: 15px;
}

.childwear {
	width: 100%;
}

.childwear-row {
	padding-top: 0px;
}

.childwear-home-text {
	color: #d69b5e;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 24px;
	padding-top: 15px;
}

.child1 {
	width: 30%;
	padding-left: 20px;
}

.button4 {
	padding: 15px;
	margin-top: 35px;
	border: 1px solid #d69b5e;
	background-color: #ffffff;
	color: #d69b5e;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

.view-all-child {
	color: #d69b5e;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	padding-top: 15px;
}

.panel-info>.panel-heading {
	color: #d69b5e;
    background-color: #303538;
    border-color: #303538;
}

.panel-info {
    border-color: #303538;
}

.form-control {
	color: #000000;
}

.cart-product {
	color: #000000;
}
